div{
  border: solid black 1px;
  box-sizing:border-box;
}
.wrap{
  width: 500px;
    height: 500px;
    display : flex;
    flex-direction : column;
}

.top{
  flex : 2 1 auto;
  background-color: blueviolet;
}
.bottom{
  flex : 8 1 auto;
  display:flex;
}
.left{
    flex: 7 1 auto;
    display : flex;
    flex-direction : column;
}
.left>div:nth-child(1){
  flex : 3 1 auto;
  background-color: aqua;
}

.lbot{
  flex : 1 1 auto;
  display:flex;
}

.lbot > div{
  flex : 1 1 auto;
}
.lbot > div:nth-child(1){
  background-color: aquamarine;
}
.lbot > div:nth-child(2){
  background-color: AliceBlue;
}
.lbot > div:nth-child(3){
  background-color: Azure;
}
.right{
  flex : 3 1 auto;
    display : flex;
    flex-direction : column;
}
.right > div{
  flex : 1 1 auto;
}
.right>div:nth-child(1){
  background-color:Beige
}
.right>div:nth-child(2){
  background-color:Bisque
}
